data/raw/creditcard.csv filter=lfs diff=lfs merge=lfs -text
data/processed/processed.parquet filter=lfs diff=lfs merge=lfs -text
data/processed/processed_df.parquet filter=lfs diff=lfs merge=lfs -text
data/processed/processed_with_autoencoder.parquet filter=lfs diff=lfs merge=lfs -text
